<h1>Help</h1>
<p>
  Get help on getting into the zoo at the
  <a href="http://railstutorial.org/help">Zoo Access Page</a>.
  To get help on this sample zoo, see the
  <a href="http://railstutorial.org/book">Zoo Tutorial book</a>.
</p>
