<h1>Sample Zoo</h1>
<p>This is the sample zoo a boom a foo bar page.</p> 
<p>	
Please note that various musings can be found at
<a href="http://www.milktrader.net">Milktrader's Blog</a>
</p>


<%= link_to "Sign up now!", signup_path , :class => "signup_button round" %>


